* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--body-color);
    padding: 4% 2%;
    position: relative;
    overflow-x: hidden;
}

::selection {
    color: yellow;
    background-color: black;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: var(--background-color);
}
