:root {
    --body-color: #5f7ad3;
    --black: #000;
    --background-color: #fff;
    --search: url(../assets/images-1/Search.svg);
    --types-of-menu: #fff;
    --types-of-menu-text: rgba(0, 0, 0, 0.7);
    --types-of-menu-text-hover: #fff;
    --types-of-menu-hover: #ea4737;
    --now-playing: #2998e2;
    --possibilitty: rgb(0, 0, 0, 0.08);
    --types-of-possibilitty: #ea4737;
    --types-of-possibility-box-shadow-text: 0px 2px 2px rgba(0, 0, 0, 0.12);
    --types-of-possibility-hover: rgb(147, 147, 147);
    --types-of-possibility-box-shadow-hover: 4px 4px 4px rgb(60, 60, 60);
    --types-of-possibility-box-shadow-active: 2px 2px 2px rgb(60, 60, 60);
    --img-1: url(../assets/images-1/ACMovieCover.jpg);
    --img-2: url(../assets/images-1/doctor-strange-162015-wikithumb.jpg);
    --img-3: url(../assets/images-1/MV5BOTBjMjA4NmYtN2RjMi00YWZlLTliYTktOTIwMmNkYjYxYmE1XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg);
    --img-4: url(../assets/images-1/thor-laska-ako-hrom-00cz-1.jpg);
    --img-5: url(../assets/images-1/MV5BNzA5ZDNlZWMtM2NhNS00NDJjLTk4NDItYTRmY2EwMWZlMTY3XkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_FMjpg_UX1000_.jpg);
    --trailers-name: #fff;
    --trailers: #ea4737;
    --ground: #07131b;
    --info-task: #70b0ff;
    --info-answer: rgba(255, 255, 255, 0.8);
    --lateral-sides: rgba(0, 0, 0, 0.14);
    --option-news: #4a90e2;
    --transition-to-the-site: rgba(74, 144, 226, 0.8);
    --transition-to-the-site-hover: red;
    --background-shapes: rgba(0, 0, 0, 0.33);
    --shapes: rgba(255, 255, 255, 0.8);
    --img-6: url(../assets/images-1/HungerGames.jpg);
    --img-7: url(../assets/images-1/five-nights-at-freddys.jpg);
    --img-8: url(../assets/images-1/terezin.jpg);
}
